<div *ngFor="let item of data | keyvalue; let last = last">
  <ul role="list" class="divide-y divide-gray-100 mb-4">
    <div class="flex min-w-0 gap-x-4">
      <img class="h-12 w-12 flex-none rounded-full bg-gray-50" [src]="item.value.chrome_web_image" alt="">
      <div class="min-w-0 flex-auto">
        <p class="text-sm font-semibold leading-6 text-gray-900">{{ item.value.headings && item.value.headings.en }}</p>
        <p class="mt-1 truncate text-xs leading-5 text-gray-500 flex-wrap overflow-hidden text-ellipsis">
          {{ item.value.contents && item.value.contents.en }}
        </p>
      </div>
      <div class="flex flex-col items-end">
        <p class="text-sm leading-6 text-gray-900"></p>
        <p class="mt-1 text-xs leading-5 text-gray-500">Fecha <time datetime="2023-01-23T13:23Z">{{ item.value.time.hora-12}}:{{item.value.time.minutos}} / {{
                item.value.time.dia}} / {{item.value.time.mes}}</time></p>
      </div>
    </div>
  </ul>
  <hr *ngIf="!last" class="my-4" />
</div>